---
layout: page
---

{% back_link %}{{ '/fleamarket/' | relative_url }}{% endback_link %}

<h1>{{page.release.description}}</h1>

<p>This record from my private collection is for sale.</p>

<table class="fleamarket__table">
  <tbody>
    <tr>
      <th>Artist</th>
      <td>{{page.release.artist}}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{page.release.title}}</td>
    </tr>
    <tr>
      <th>Year</th>
      <td>{{page.release.year}}</td>
    </tr>
    <tr>
      <th>Format</th>
      <td>{{page.release.format}}</td>
    </tr>
    <tr>
      <th>Catalog Number</th>
      <td>{{page.release.catalog_number}}</td>
    </tr>
    <tr>
      <th>Condition</th>
      <td>{{page.condition}}</td>
    </tr>
  </tbody>
</table>

<div class="flex">
  <a class="fleamarket__button" href="{{page.uri}}" target="_blank" rel="noopener noreferrer">
    Check out my offer on Discogs
  </a>
</div>

<p class="fleamarket__more">
  Find more records from my private collection and
  <a href="/fleamarket/">check out my flea market</a>
  of Techno, Schranz and Hard Techno vinyls.
</p>
