@import 'base';

.contact {
  &__address {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  &__methods {
    line-height: 2;
  }
  &__social-links {
    text-align: right;
  }
  @media (max-width: 767px) {
    &__social-links {
      text-align: left;
    }
  }
  &__social-link {
    margin: 1rem;
  }
}
