@import 'base';

.contact {
  &__address {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
  &__methods {
    line-height: 2;
  }
  &__social-links {
    margin-top: 1.3rem;
    text-align: right;
  }
  // @media (max-width: 767px) {
  //   &__social-links {
  //   }
  // }
  &__social-link {
    display: inline-block;
    font-size: 0;
    margin: 1rem;
    padding: 0;
    transition: .4s all ease;
    &:hover {
      background-color: rgba($base0d, .5);
    }
  }
}
