@import 'base';

.header {
  &__headline {
    display: block;
    letter-spacing: -.2rem;
    line-height: 1;
    margin-bottom: 0;
    margin-left: -.2rem; // the capital h looks offset
    width: 100%;
  }
  &__subheadline {
    font-size: 1.75rem;
    font-weight: bold;
  }
  &__portrait {
    vertical-align: bottom;
  }
  @media (max-width: 640px) {
    &__headline {
      // prevent ugly linebreak on the headline :/
      font-size: 3.5rem;
    }
    &__subheadline {
      // prevent ugly linebreak on the subheadline, too
      font-size: 1.5rem;
    }
  }
  @media (max-width: 767px) {
    &__column--left {
      vertical-align: bottom;
      width: 100%;
    }
    &__column--right {
      display: block;
      height: 20rem;
      overflow: hidden;
      text-align: center;
    }
    &__portrait {
      display: inline-block;
      height: auto;
      margin-left: -2.5rem; // pic seems offset (not centered horizontally)
      opacity: 1;
      width: 240px;
    }
  }
  @media (min-width: 767px) {
    &__column--left, &__column--right {
      display: table-cell;
      vertical-align: bottom;
    }
    &__column--left {
      width: 60%;
    }
    &__column--right {
      text-align: right;
      width: 40%;
    }
    &__portrait {
      display: inline-block;
      max-width: 24rem;
      opacity: 1;
    }
  }
  @media print {
    &__column--left, &__column--right {
      display: inline-block;
      vertical-align: bottom;
    }
    &__column--right {
      float: right;
      height: 10rem;
      left: 25%;
      margin-left: 50%;
      overflow: hidden;
      position: fixed;
      // right: 0;
      text-align: right;
      top: 0;
      width: 50%;
    }

    &__portrait {
      display: inline-block;
      height: 18rem;
      width: auto;
    }
  }
}
