@import 'base';

body {
  color: $base00;
  font-family: $base-font;
  font-weight: 400;
}

a {
  color: $base0d;
  transition: .4s all ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $alternative-font;
  margin-bottom: 1rem;
}

.container {
  max-width: 700px;
}


// Larger than mobile
@media (min-width: 400px) {
}

// Larger than phablet
@media (min-width: 550px) {
}

// Larger than tablet
@media (min-width: 750px) {
}

// Larger than desktop
@media (min-width: 1000px) {
}

// Larger than Desktop HD
@media (min-width: 1200px) {
}
