@import 'base';

body {
  color: $base00;
  font-family: $base-font;
  font-weight: 400;
  padding: 2rem 0;
}

a {
  color: $base0d;
  transition: 0.4s all ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $alternative-font;
  margin-bottom: 1rem;
}

.container {
  max-width: 700px;
}
