@import 'base';

.work-experience {
  margin-bottom: 4rem;
  %timerange-font {
    font-family: $alternative-font;
    font-size: 1.8rem;
    letter-spacing: -.05rem;
  }
  &__company {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 3rem;
  }
  &__timerange {
    @extend %timerange-font;
    line-height: 2.7;
  }
  &__timerange-seperator {
    @extend %timerange-font;
    line-height: 2.7;
  }
  @media (max-width: 870px) {
    &__timerange {
      display: block;
      line-height: 1;
      margin-top: 1.5rem;
      text-align: center;
    }
    &__timerange-seperator {
      display: block;
      line-height: 1.35;
      text-align: center;
    }
  }
  @media (max-width: 550px) {
    &__timerange {
      text-align: left;
    }
    &__timerange-seperator {
      display: inline;
    }
  }
}
