@import 'base';

.work-experience {
  margin-bottom: 3rem;
  %timerange-font {
    font-family: $alternative-font;
    font-size: 1.8rem;
    letter-spacing: -.05rem;
  }
  &__company {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
  }
  &__description {
    margin-top: 3rem;
  }
  &__type {
    font-family: $alternative-font;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  &__timerange {
    @extend %timerange-font;
    line-height: 2.7;
  }
  &__timerange-seperator {
    @extend %timerange-font;
    line-height: 2.7;
  }
  &__thesis--originaltitle {
    font-size: 80%;
    margin-top: 1rem;
  }
  &__thesis-description {
    margin-top: 2.5rem;
  }
  &__list {
    list-style-type: square;
    margin: 1rem 0 2.5rem .5rem;
    > li {
      line-height: 1.5rem;
    }
  }
  &__highlight:target {
    animation: highlight 2s ease-out;
  }
  @media (max-width: 870px) {
    &__timerange {
      display: block;
      line-height: 1;
      margin-top: 1.5rem;
      text-align: center;
    }
    &__timerange-seperator {
      display: block;
      line-height: 1.35;
      text-align: center;
    }
  }
  @media (max-width: 550px) {
    &__timerange {
      text-align: left;
    }
    &__timerange-seperator {
      display: inline;
    }
  }
  @media print {
    margin-bottom: 1rem;
  }
}
