---
title: Rezepte
lang: de
layout: page
description: |
  Kochen und Backen ist mein Hobby und Ausgleich. Mit der Zeit entstanden
  zahlreiche Eigenkreationen, die ich hier festhalte.
---

<h1>Rezepte</h1>

<p>
  Kochen und Backen ist mein Hobby und Ausgleich. Mit der Zeit entstanden zahlreiche Eigenkreationen, die ich
  hier festhalte.
</p>

<ul class="blog__list">
  {% for post in site.recipes %}
  <li>{% assign page = recipe %} {% include post-preview.html %}</li>
  {% endfor %}
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
