---
layout: 'page.vto'
posts_to_show: 5
---

<section class="h-card index" id="hcard-{{ (site.author.name).replaceAll(' ', '-') }}">
  <h1>
    <span class="p-name">{{ site.author.name }}</span>
  </h1>
  {{ include 'pronunciation.vto' }}

  <p>
    <span class="p-job-title">Full Stack Developer</span> &ndash; <span class="p-locality">Berlin</span>, GER
  </p>

  <a href={data.site.options.location} class="u-url" hidden>{data.site.options.location.toString()}</a>

  {{# <p>
    Full stack means I develop on the <span class="p-category">frontend</span>
    and <span class="p-category">backend</span>
    of web applications, which I also monitor and analyze. Read <a href="/resume">my résumé</a>
    and check out <a href="/projects">my projects</a>!
  </p> #}}

  <p>
    Occasionally, I post on
    <a href="/blog" class="p-category">my blog</a>
    about

    <a href="/tag/programming/" class="tag p-category">programming</a>,
    <a href="/tag/macos/" class="tag p-category">macOS</a>,
    <a href="/tag/food/" class="tag p-category">food</a>.
    <br />
    I like to <a href="/movie_ratings/">rate and review movies</a>.
  </p>

  <p>
    I'm furthermore interested in
    <span class="p-category">music</span>, <span class="p-category">sports</span>,
    <span class="p-category">bicycling</span>
    and
    <span class="p-category">general aviation</span>.
  </p>
</section>

{{ include 'highlighted_projects.vto' }}
{{ include 'recent_posts.vto' }}
