---
layout: 'page.vto'
title: 'Movie Ratings'
base_url: '/movie_ratings/'
css:
  - '/assets/movie_ratings_nav.css'
movie_ratings:
  count: 10
---


{{# <p>{{page.description}} As of today, I've rated {{ site.data.ratings | size }} movies.</p> #}}

{{# <p>
  You can see my
  <a href="{{ '/ratings/recommendations/' | relative_url }}">recommendations</a>,
  <a href="{{ '/ratings/recent/' | relative_url }}">recently rated</a>
  or
  <a href="{{ '/ratings/top_rated/' | relative_url }}">top rated</a> movies on a seperate page.
</p> #}}

{{ include 'movie_ratings_nav.vto' }}

{{ include 'recent_movie_ratings.vto' }}
