---
layout: page.vto
noindex: true
positions:
  - position: Senior Fullstack Developer
    timerange:
      start: '2022-10'
      end: today
    company: 100% remote, with 1-2 voluntary office days per week, Berlin, GER
    description: |
      Improve core business functionality to improve the scalability of the company.
      The company grew by 100% active users year over year.
    responsibilities:
      - Represented the development department within ISO/IEC 27001 Information Security Management System (ISMS),
        for initial certification and subsequent surveillance audits.
      - Continously improve the ISMS processes.
      - Continously develop the company's IT architecture (across departments and teams).
      - Actively participated in organizational changes;
        from a large team to multiple smaller cross-functional teams.
      - "Introducing new services: from planning into production."
      - Unify the tech stack by replacing legacy services with replacements in TypeScript or Ruby.
      - Demonstration of newly developed product features to stakeholders.
    tags:
      - Ruby
      - Ruby on Rails
      - PostgreSQL
      - Architecture
      - TypeScript
      - GraphQL
      - RSpec
      - Test Driven Development
      - git
      - Github
      - Docker
      - AWS
      - Github Actions
      - Scrum
      - JIRA
      - Confluence
      - ISO/IEC 27001
  - position: Ruby Developer
    timerange:
      start: '2022-05'
      end: '2022-07'
    company: 100% remote, Hamburg, GER
    description: I resigned within the probationary period.
    tags:
      - Ruby
      - Ruby on Rails
      - RSpec
      - JavaScript
      - TypeScript
      - React
      - PostgreSQL
      - HTML5
      - Linux
      - git
      - Gitlab
      - Docker
      - Cypress
      - Scrum
      - CI&thinsp;/&thinsp;CD
  - position: Full Stack Developer
    timerange:
      start: '2017-09'
      end: '2022-02'
    company: 100% on site, Berlin, GER
    description: >
      Relaunched the agency's own product: a web portal,
      that targets the areas of tourism, events, arts and entertainment,
      local retail and city marketing,
      based on interactive virtual tours.
      I've been involved deeply in the creation process:
      From idea, to concept, to development of software, and
      eventually to analytical review, monitoring and maintenance.
    responsibilities:
      - Created products for target groups (city & business customers, end consumers)
      - Established and optimized business processes
      - Proposed and setup a monitoring infrastructure incl. product dashboards
      - Developed individual customer projects (web applications)
      - Been the technical contact person to the general management and customers
      - Maintained and extended various legacy web applications
      - Played a key role in the move to a new CRM system
      - Proposed technical improvements, including economic viability calculations
      - Lead and mentored working students
      - Proposed and implemented several SEO measures for the product
      - Wrote customer and end user documentation
      - Demoed newly developed product features to the company
    tags:
      - Ruby
      - Ruby on Rails
      - RSpec
      - JavaScript
      - TypeScript
      - Vue.js
      - Nuxt.js
      - PostgreSQL
      - PostGIS
      - HTML5
      - SCSS
      - Linux
      - Server Administration
      - ansible
      - Monitoring
      - TICK
      - CI&thinsp;/&thinsp;CD
      - nginx
      - git
      - Docker
      - SEO
      - BEM
      - Test Driven Development
      - Selenium & Capybara
      - process optimization
      - project management
      - team lead
      - product management
      - Sentry.io
      - UptimeRobot
      - Agile
      - Capistrano
  - position: Freelance developer
    timerange:
      start: '2017-05'
      end: '2017-08'
    description: Web development with Ruby and JavaScript.
  - position: Backend Developer
    timerange:
      start: '2015-11'
      end: '2017-04'
    company: 100% on site, Berlin, GER
    description: |
      - Developed a new internally used core application to curate the freshly published articles
      - Developed a new application for a new revenue share program, connecting to a payment provider and analytic
        services. My application sent several hundred thousand US dollars of shared revenue.
      - Developed new home pages and article pages (averaging to> 30 million page views per month)
      - Ongoing transition from monolithic applications to micro-services
      - Transition from one product to multiple, topic specific, vertical platforms
      - Maintained and extended various web applications in back- and front end
      - Technical support within the company
    tags:
      - Ruby
      - PostgreSQL
      - Ruby on Rails
      - RSpec
      - HTML5
      - JavaScript
      - SCSS
      - SEO
      - Monitoring
      - CI&thinsp;/&thinsp;CD
      - git
      - nginx
      - Docker
      - Selenium & Capybara
      - process optimization
      - Elasticsearch
      - Puppet
      - RabbitMQ
      - Scrivito CMS
      - Scrum
      - Capistrano
  - position: Rails Developer
    timerange:
      start: '2015-05'
      end: '2015-11'
    company: 100% on site, Berlin, GER
    description: |-
      - Developed a farm management system (MVP)
      - Specified and implemented REST-API endpoints for mobile applications
    tags:
      - Ruby
      - PostgreSQL
      - PostGIS
      - Ruby on Rails
      - RSpec
      - CI&thinsp;/&thinsp;CD
      - REST API
      - process optimization
      - Heroku
      - Scrum
  - position: Developer
    timerange:
      start: '2011-09'
      end: '2015-01'
    company: 100% on-site, Oldenburg, GER
    description: |-
      - Developed a backend system serving an API for a large customer and its apps
      - Developed front- and backend for data visualization for customers of a smart meter data provider
      - Developed a single page application for data visualization of energy plants
      - Developed and maintained a portal for sporting clubs and leagues, including video processing, integration of
        payment systems, handling subscriptions, etc.
      - Introduced new tools like task runners and a CI server
      - Forwarded potential use cases to sales and distribution
      - Developed multiple new static websites
      - Maintained Wordpress and Joomla instances
      - I've quit this job because I decided to move to Berlin and get out of the comfort zone.
    tags:
      - HTML5
      - JavaScript
      - SCSS
      - git
      - UI & UX design
      - BEM
      - MySQL
      - Java
      - AngularJS 1.x
      - jQuery
      - Hibernate ORM
      - Objective-C
      - OSGi
      - Spring Framework
      - Subversion
      - WebSockets
      - Scrum
      - PHP5
  - position: Student Assistant
    timerange:
      start: '2009'
      end: '2011'
    company: Jade University of Applied Science, Wilhelmshaven, GER
    description: |-
      - Tutor for winter term 2009 programming course.
      - Research assistant for the "Mobile Smart Metering" project in summer 2011, focusing on "digitalSTROM"
  - position: Student Wirtschaftsinformatik (Information Systems)
    timerange:
      start: '2009-03'
      end: '2012-03'
    company: Jade University of Applied Science, Wilhelmshaven
    description: |-
      - Elective courses: Network Administration, Operating Systems, Online Marketing.
      - Overall B. Sc. grade: 1.56
      - Bachelor thesis: Softwaremodularität in Smart Homes &ndash; OSGi als Basis für zukünftige Produkte und Services in Smart Homes
      - The frontend application based on jQuery Mobile.
      - Communication with the backend, which was based on ProSyst's mBS Smart Home OSGi Framework, has been realized via AJAX, WebSockets and JSON.
---

<h1>Résumé</h1>

<p>
  In the last decades, I've worked for startups, established companies and agencies.
  <br>
  My broad software engineering knowledge supports companies in the many phases of product development.
</p>

<p>
  My motivation is to enable teams to create value (i.e. to increase revenue or reduce internal costs).
  Always with the current business goals in mind, I enjoy driving companies, products and teams
  forward &ndash; so my work does not stop at organizational team boundaries.
</p>

<p>
  Today's code is tomorrow's legacy, and code is read more often than it is written.
  That's why I prefer to write boring and idiomatic code, which is easy to test and
  passes the static code analysis.
</p>

{{ for position of positions }}
  <article>
    <h2>{{ position.position }}</h2>
    <div>
      {{ position.timerange.start }}
      <span>&ndash;</span>
      {{ position.timerange.end }}
    </div>
    <div>{{ position.company }}</div>

    <div>
      <p>
        {{ position.description |> md }}
      </p>

      <ul>
        {{ for responsibility of position.responsibilities }}
          <li>{{ responsibility }}</li>
        {{ /for }}
      </ul>
    </div>

    <ol>
      {{ for tag of position.tags }}
        <li class="tag">{{ tag }}</li>
      {{ /for }}
    </ol>
  </article>
{{ /for }}
