---
title: Movie Ratings, beginning with 'A'
css:
  - '/assets/movie_ratings_nav.css'
  - '/assets/movie_rating.css'
letters:
  - 'A'
  - 'a'
---

<a href="/movie_ratings/">‹ back to the overview</a>

<h1>{{ title }}</h1>

{{ set recommendations = Object.keys(movie_recommendations).flatMap(key => movie_recommendations[key]) }}

{{ for imdb of imdb_ratings.filter(imdb => letters.includes(imdb['Title'].toString()[0]) && imdb['Title Type'] === 'movie')}}
  {{ set rating = recommendations.find(recommendation => recommendation.const === imdb.Const) }}

  {{ include 'movie_rating.vto' { imdb, rating } }}
{{ /for }}

{{ include 'movie_ratings_nav.vto' }}
