// base16 tomorrow color scheme by chris kempson,
// https://chriskempson.github.io/base16/#tomorrow

$black: #000;
$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #757775;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #fff;
$base08: #c66;
$base09: #de935f;
$base0a: #f0c674;
$base0b: #b5bd68;
$base0c: #8abeb7;
$base0d: #89a8c3;
$base0e: #b294bb;
$base0f: #a3685a;

$alternative-font: Jura, "Bangla Sangam MN", sans-serif;
$base-font: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
  sans-serif;

$breakpoint-medium: 600px;

@keyframes highlight {
  0% {
    background-color: rgba($base0a, 0.5);
  }

  100% {
    background-color: $base07;
  }
}

@mixin box {
  display: block;
  padding: 1rem 0.5rem;
  font-size: 0.9rem;
  color: $base02;
  text-decoration: none;
  background-color: lighten($base06, 10);
  border: 1px solid $base0d;

  span {
    color: darken($base0d, 20);
  }

  &:hover span {
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    color: $base04;
    background-color: $black;

    filter: brightness(0.9);
    border: 1px solid $base0d;

    &:hover {
      background-color: $base00;
    }

    span {
      color: $base09;
    }
  }
}

body {
  padding-bottom: 25vh;
  font-family: $base-font;
  font-size: 1rem;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  color: $base00;
}

a {
  font-weight: 500;
  color: darken($base0d, 20);
  text-decoration: underline;
  text-decoration-color: $base03;

  &:hover {
    background-color: $base06;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $alternative-font;
}

@media (prefers-color-scheme: dark) {
  body {
    color: darken($base04, 15);
    background-color: #000;
  }

  a {
    color: $base09;
    text-decoration-color: $base00;

    &:hover {
      background-color: $base02;
    }
  }
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
