$black: #000;
$base0000: hsl(210, 6%, 3%);
$base000: hsl(210, 6%, 6%);
$base00: hsl(210, 6%, 12%);
$base01: hsl(210, 6%, 18%);
$base02: hsl(210, 6%, 27%);

$base03: hsl(70, 6%, 43%);
$base04: hsl(70, 6%, 62%);
$base05: hsl(70, 6%, 78%); // default front
$base06: hsl(70, 6%, 94%);

$base09: hsl(21, 93%, 66%);
$base0c: hsl(201, 93%, 66%);

$alternative-font: Jura, "Bangla Sangam MN", sans-serif;
$base-font: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
  sans-serif;
$monospace-font: SFMono-Regular, Menlo, "Ubuntu Mono", Consolas, "Monaco",
  "Lucida Console", monospace;

$breakpoint-medium: 45em;

@mixin tile {
  padding: 0.75em 1.25em;
  background-color: $base000;
  border: 1px solid $base00;
  box-shadow: 0 1px 3px $base00;
}
