$alternative-font: Jura, "Bangla Sangam MN", sans-serif;
$base-font: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
  sans-serif;
$monospace-font: SFMono-Regular, Menlo, "Ubuntu Mono", Consolas, "Monaco",
  "Lucida Console", monospace;

$breakpoint-medium: 45em;

@mixin tile {
  padding: 0.75em 1.25em;
  background-color: var(--back-600);
  border: 1px solid var(--back-500);
  box-shadow: 0 1px 3px var(--back-500);
}
