.author {
  padding: 6em var(--section-padding);
  margin: 6em 0;
  color: var(--front-100);
  background-color: var(--contrast-100);
  border: 1px solid var(--back-500);
  border-right: 0;
  border-left: 0;
  box-shadow: 0 0 100vh var(--back-500);
}

.author__wrapper {
  max-width: var(--container-width);
  padding: 0 var(--section-padding);
  margin: 0 auto;
}

.author__person {
  @extend %h1;
  margin: 0 auto;
  font-family: var(--font-alt);
  text-shadow: 0px 0px 1em rgba(255, 255, 255, 0.5);
}

.author__description {
  font-size: 1rem;
  text-align: justify;
  text-shadow: 0.1em 0.1em 0.75em rgba(255, 255, 255, 0.125);

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: var(--back-500);
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .author__description > p {
    max-width: 66%;
  }
}
