// .blog__rss {}
// .blog__blogroll {}

.blog__link {
  font-weight: 450;
}

.blog__list {
  padding-left: 0;
  margin: 0 -0.5em;
  list-style-type: none;
}

.blog__list > li {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid $base01;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  border-left: 2px solid transparent;

  &:focus,
  &:hover {
    background-color: rgba($base00, 0.5);
    border-left-color: $base06;
  }
}

.blog__list > li:last-child {
  border-bottom-color: transparent;
}

.blog__list > li > a {
  width: 100%;
  text-decoration: none;
}

.blog__list > li > a:hover {
  text-decoration: underline;
  background-color: unset;
}

.blog__meta {
  padding-right: 0;
  color: $base03;
  white-space: nowrap;
}

@media (max-width: $breakpoint-medium) {
  .blog__list > li {
    flex-direction: column;
    margin-bottom: 1em;
  }

  .blog__meta {
    order: -1;
  }
}
