.blogroll__blogs {
  padding-left: 0;
  list-style: none;

  > li {
    display: flex;
    width: 100%;
    margin: 0.5em 0;
  }

  > li a:first-child {
    flex: 1;
  }
}

.blogroll__blog-feed {
  margin-left: auto;
}
