.blogroll__blogs {
  padding-left: 0;
  list-style: none;

  > li {
    display: flex;
    width: 100%;
    margin: 0.5rem 0;
  }

  > li a:first-child {
    flex: 1;
  }
}

.blogroll__blog-favicon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  object-fit: contain;
}

.blogroll__blog-feed {
  margin-left: auto;
}
