.blog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -0.5em;
  margin-left: -0.5em;
  list-style: none;
}

.blog__list > li {
  flex: 1 1 calc(48% - 1em);
  margin: 0.5em;
}

@media (max-width: $breakpoint-medium) {
  .blog__list {
    padding: 0 0.5em;
    margin: 0 auto;
  }

  .blog__list > li {
    flex: 1 1 100%;
    margin: 0.5em 0;
  }
}

.blog__message {
  --color: var(--back-500);
  margin-bottom: 2em;
}

$message-width: 6.5em;
@media (min-width: #{$breakpoint-medium + $message-width + 6em}) {
  .blog__message {
    position: fixed;
    top: calc(var(--nav-height) + 4.5em);
    right: 0;
    width: $message-width;

    > ul {
      margin-left: 0;
      list-style: none;
    }
  }
}
