$small-font-size: 14px; // let's use the px unit here, for legal reasons

.contact__address {
  display: block;
  font-size: $small-font-size;
  font-style: normal;
  line-height: 1.5;
  user-select: none;
}
