html,
body {
  scroll-padding-top: var(--nav-height);
}

body {
  padding-top: var(--nav-height);
  padding-bottom: 66vh;
  font-family: var(--font);
  font-size: var(--rem);
  font-weight: 350;
  line-height: 1.25;
  color: var(--front-200);
  background-color: var(--back-900);
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 400;
  color: var(--brand-100);
  text-decoration: underline;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h1;
}

h3 {
  @extend %h1;
}

h4 {
  @extend %h1;
}

h5 {
  @extend %h1;
}

h6 {
  @extend %h1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.125em;
  font-family: var(--font-alt);
  font-weight: 300;
  color: var(--front-100);
  text-align: left;
  text-decoration: underline;
  text-decoration-color: var(--back-300);
  letter-spacing: -0.0125em;
}

img {
  border: 1px solid var(--back-400);
  border-radius: 0.05em;
  box-shadow: 0 0 0.25em var(--back-500);
}

kbd {
  display: inline-block;
  padding: 0.1em 0.25em;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 1;
  color: var(--front-100);
  white-space: nowrap;
  background-color: var(--back-500);
  border: 1px solid var(--front-400);
  border-radius: 0.25em;
}

details {
  margin: 1em 0;
}

details > summary {
  color: var(--front-300);
  cursor: pointer;

  &::-webkit-details-marker {
    color: var(--brand-100);
  }
}

table th {
  padding-right: 1em;
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}

ol,
ul {
  margin-left: 1.5em;
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

label {
  cursor: pointer;
}

@media (hover: hover) {
  a {
    transition: filter 0.2s linear;

    &:hover,
    &:focus {
      filter: saturate(1.5);
    }
  }

  img {
    filter: brightness(0.9);
    transition: filter 0.2s linear;

    &:hover,
    &:focus {
      filter: unset;
    }
  }
}
