*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  scroll-padding-top: var(--nav-height);
}

body {
  padding-bottom: 66vh;
  font-family: $base-font;
  font-size: 16px;
  font-weight: 350;
  line-height: 1.25;
  color: $base05;
  background-color: $black;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

a {
  color: $base09;
  text-decoration: underline;
  text-decoration-color: $base00;

  &:hover {
    background-color: $base000;
  }
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $alternative-font;
  color: $base06;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: $base02;
}

kbd {
  display: inline-block;
  padding: 0.1em 0.25em;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 1;
  color: $base06;
  white-space: nowrap;
  background-color: $base02;
  border: 1px solid $base03;
  border-radius: 0.3em;
}

details {
  margin: 1rem 0;
}

details > summary {
  color: $base04;
  cursor: pointer;
}

table th {
  padding-right: 0.5em;
  text-align: left;
  vertical-align: top;
}
