html,
body {
  scroll-padding-top: var(--nav-height);
}

html {
  scroll-behavior: smooth;
  font-size: var(--rem);
  font-family: var(--font);
  font-weight: 250;
  line-height: 1.25;
  color: var(--front-200);
  background-color: var(--back-900);
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

body {
  padding-top: var(--nav-height);
  padding-bottom: 66vh;
}

a {
  color: var(--brand-100);
  text-decoration: underline;
}

h1 {
  @extend %h1;
  text-decoration: underline;
  text-decoration-color: var(--back-500);
  text-decoration-thickness: 0.125rem;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25em 0 0.25em;
  font-family: var(--font-alt);
  font-weight: 300;
  color: var(--front-200);
  text-align: left;
}

img {
  border: 1px solid var(--back-400);
  border-radius: 3px;
  box-shadow: 0 0 0.25rem var(--back-500);
}

kbd {
  display: inline-block;
  padding: 0.1em 0.25em;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.14;
  vertical-align: middle;
  color: var(--front-200);
  white-space: nowrap;
  background-color: var(--back-500);
  border: 1px solid var(--back-300);
  border-radius: 3px;
}

details {
  margin: 1rem 0;
}

details > summary {
  color: var(--front-300);
  cursor: pointer;

  &::-webkit-details-marker {
    color: var(--brand-100);
  }
}

table th {
  padding-right: 1rem;
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}

ol,
ul {
  margin-left: 2rem;
  list-style-position: outside;
  line-height: 1.61;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

label[for] {
  cursor: pointer;
}

@media (hover: hover) {
  a {
    transition: filter 0.2s linear;

    &:hover,
    &:focus {
      filter: saturate(1.5);
    }
  }

  img {
    filter: brightness(0.9);
    transition: filter 0.2s linear;

    &:hover,
    &:focus {
      filter: unset;
    }
  }
}
