.fleamarket__list {
  padding: 0;
  list-style: none;

  > li {
    border-bottom: 1px solid $base01;
  }

  > li > a {
    display: flex;
    padding: 0.33em 0;
    color: $base04;
  }
}

.fleamarket__table {
  width: 100%;
}

.fleamarket__button {
  margin: 2em 0;
  text-align: right;
}

.fleamarket__more {
  @include tile;
  width: 100%;
  padding: 0.5em 0 0.5em 0.75em;
  margin: 3em auto 1em;
  font-size: 1.1em;
  border-left: 0.75em solid $base06;
}
