@import "_base";

.index {
  max-width: 25em;
  margin: 0 auto;
}

.index > p {
  hyphens: auto;
}

.index__headline {
  display: block;
  width: 100%;
  margin: 2rem 0 0;
}

.index__ipa {
  font-size: 1.25rem;
  color: var(--front-400);
}
