@import "_base";

.index {
  max-width: 25em;
  margin: 0 auto;
}

.index > p {
  hyphens: auto;
}

.index__headline {
  display: block;
  width: 100%;
  margin: 2rem 0 0;
}

.index__ipa {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--front-400);
  text-decoration: dotted;
}

.index__ipa > audio {
  display: none;
}

img.index__ipa-play {
  display: inline-block;
  height: 1.25ex;
  width: auto;
  filter: none;
  border: 0;
  box-shadow: none;
}
