.movie-rating {
  width: 100%;
  margin: 0.25em 0 4.75em;
  font-size: 0.875rem;
}

.movie-rating > header {
  display: flex;
}

.movie-rating__title {
  display: flex;
  display: inline;
  flex: 1;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 0.25em 0 0;
  font-weight: 600;
}

.movie-rating__title > a {
  color: var(--front-200);
  text-decoration: none;
}

.movie-rating__year {
  padding: 0 0.5em;
  font-size: 0.875em;
  font-weight: 500;
  font-variant: tabular-nums;
  color: var(--front-400);
}

a.movie-rating__recommendation {
  float: right;
  font-size: 0.875em;
  font-weight: 100;
  font-variant: all-petite-caps;
  color: var(--brand-100);
  letter-spacing: -0.05em;
}

.movie-rating__rating {
  flex: 0 0 5rem;
  align-self: flex-start;
  margin-left: 0.5em;
  font-size: 1rem;
  text-align: right;
}

.movie-rating__rating img {
  height: 1em;
  filter: unset;
  border: 0;
  box-shadow: unset;
}

.movie-rating > main {
  max-width: 25rem;
  padding: 0 0.125em;
  font-size: 0.75rem;
  color: var(--front-300);
}

.movie-rating > footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--front-500);
}

.movie-rating__director {
  color: var(--front-500);
  font-size: 0.75rem;
}
.movie-rating__tags {
  margin: 0.5em 0;
}
