.nav {
  max-width: var(--container-width);
  min-height: var(--nav-height);
  margin: 0 auto;
  font-size: 0;
  background-color: $black;
}

.nav__container {
  display: flex;
  margin: -1px auto 0;
  overflow: hidden;
}

.nav__logo {
  flex: 1 1 20%;
  align-self: flex-end;
  height: 2rem;
  text-align: center;

  > svg {
    height: 3rem;
    margin-top: -1rem;
    overflow: hidden;
  }

  &:focus svg {
    background-color: transparent;
  }

  &:focus {
    background-color: $base09;
  }

  &:hover,
  &--active {
    color: #b3cae0;
  }
}

.nav__item {
  @include navigation-item;
  flex: 1 1 25%;
  align-self: flex-end;
  font-size: 1rem;
}
