.navigation {
  background-color: $base02;
  font-size: 0;
}

.navigation__container {
  overflow: hidden;
  display: flex;
  margin: -1px auto 0;
  max-width: 50rem;
}

.navigation__logo {
  flex: 1 1 20%;
  height: 2rem;
  align-self: flex-end;
  text-align: center;

  > svg {
    overflow: hidden;
    height: 3rem;
    margin-top: -1rem;
  }

  &:hover,
  &--active {
    color: #b3cae0;
  }
}
.navigation__item {
  flex: 1 1 25%;
  color: $base0d;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.5rem 0.5rem 0.25rem;
  transition: background-color 0.2s;
  align-self: flex-end;

  &:focus {
    outline: 0;
    color: $base06;
    background-color: $base09;
  }

  &:hover {
    background-color: lighten($base02, 20);
  }
}

.navigation__item--active {
  background-color: lighten($base02, 10);
  color: #b3cae0;
}

@media (prefers-color-scheme: dark) {
  .navigation {
    background-color: $black;
    border-bottom: 1px solid $base01;
  }

  .navigation__item:hover,
  .navigation__item--active {
    background-color: $base01;
  }
}
