.post-preview {
  @include tile;

  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 2em;
}

.post-preview > header {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: $black;
  border-bottom: 1px solid $base000;
}
.post-preview > header > img {
  &,
  &:focus,
  &:hover {
    vertical-align: middle;
    box-shadow: unset;
  }
}

.post-preview__img {
  position: relative;
  z-index: 2;
  width: auto;
  min-height: 10em;
  max-height: 16vh;
  border-width: 0;
}

.post-preview__blurry-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 200%;
  height: 200%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  opacity: 0.3;

  &,
  &:focus,
  &:hover {
    filter: blur(5em);
  }
}

.post-preview__lang {
  position: absolute;
  top: 0.125em;
  right: 0.25em;
  z-index: 2;
  font-size: 2em;
  line-height: 1;
}

.post-preview__body {
  padding: 0.5em 1em;
}

.post-preview__time {
  font-size: 0.8em;
  color: $base04;
}

.post-preview__description {
  font-size: .9em;
}

.post-preview > footer {
  padding: 0.5em 1em;
  margin-top: auto;
}

.post-preview__tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: .9em;

  > li {
    margin-right: 1em;
  }

  > li > a {
    padding: 0;

    &:focus,
    &:hover {
      color: $base09;
    }
  }
}
