.post__meta {
  @extend %time;
  text-align: right;
}

.post__toc {
  @include tile;
  padding: 0.5em 0.5em;

  margin: 1rem 0;

  > summary {
    display: inline-block;
    width: 100%;
    color: var(--front-200);

    &:focus {
      outline: 0;
    }
  }
}

.post__content {
  word-break: break-word;

  @supports (hyphens: auto) {
    hyphens: auto;
    text-align: justify;
  }

  code {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    > * {
      font-family: inherit;
    }

    > code {
      font-size: inherit;
      background-color: unset;
    }
  }

  p {
    margin: 0.25em 0 0.75em;
  }

  > img {
    width: 100%;
    height: auto;
  }

  li {
    text-align: left;
  }

  blockquote {
    @include tile;
    padding: 0.5em 0.75em;
    margin: 1.5em 0;
    line-height: 1.61;
    text-align: justify;
    quotes: "\201C""\201D""\2018""\2019";
    border-left: 0.75em solid var(--back-500);
  }

  blockquote p {
    display: inline;
  }

  > ul,
  > ol {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  sup {
    font-variant: unicase;
    letter-spacing: -0.05em;
  }
}

.post .footnote {
  @extend %time;

  text-decoration: none;

  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
}

.post .footnotes {
  padding: 1rem 0;
  margin: 2rem 0;
  font-size: 0.875rem;
  border-top: 2px solid var(--back-400);

  ol {
    margin: 0.5rem 0 0;
    list-style-type: none;
    counter-reset: section;
  }

  ol > li::before {
    @extend %time;
    display: inline-block;
    font-family: var(--font-mono);
    font-variant: unicase;
    letter-spacing: -0.05em;
    content: "[" counters(section, ".") "]";
    counter-increment: section;
  }

  ol > li {
    margin-bottom: 0.5rem;
  }

  ol > li:target {
    border: 1px solid var(--contrast-100);
  }

  ol > li > p {
    display: inline;
  }

  ol > li a {
    color: inherit;
  }

  ol > li:target .reversefootnote {
    padding: 0;
    margin: 0;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
  }
}

.post__message {
  margin: 3rem 0;
}

@media (max-width: $breakpoint-medium) {
  .post__content .glide,
  .post__content img {
    width: calc(100% + (var(--section-padding) * 2));
    max-width: unset;
    // stylelint-disable-next-line function-calc-no-invalid
    margin: 0 calc(var(--section-padding) * -1);
  }
}
