.post__meta {
  @extend %time;
  text-align: right;
}

.post__toc {
  @include tile;
  padding: 0.5em 0.5em;

  margin: 1rem 0;

  > summary {
    display: inline-block;
    width: 100%;
    color: var(--front-200);

    &:focus {
      outline: 0;
    }
  }
}

.post .footnote {
  @extend %time;

  text-decoration: none;

  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
}

.post .footnotes {
  padding: 1rem 0;
  margin: 2rem 0;
  font-size: 0.875rem;
  border-top: 2px solid var(--back-400);

  ol {
    margin: 0.5rem 0 0;
    list-style-type: none;
    counter-reset: section;
  }

  ol > li::before {
    @extend %time;
    display: inline-block;
    font-family: var(--font-mono);
    font-variant: unicase;
    letter-spacing: -0.05em;
    content: "[" counters(section, ".") "]";
    counter-increment: section;
  }

  ol > li {
    margin-bottom: 0.5rem;
  }

  ol > li:target {
    border: 1px solid var(--contrast-100);
  }

  ol > li > p {
    display: inline;
  }

  ol > li a {
    color: inherit;
  }

  ol > li:target .reversefootnote {
    padding: 0;
    margin: 0;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
  }
}

.post__message {
  @include tile;
  margin: 3rem 0;
  font-size: 1rem;
  border: 0.25em solid var(--back-500);
  border-right: 0;
  border-left: 0;
}
