// .post__header,
// .post__title {}

.post__meta {
  color: $base03;
  text-align: right;
}

.post__toc {
  @include tile;

  margin: 1.5em 0;

  > span {
    display: inline-block;
    font-family: $alternative-font;
    font-size: 1.2em;
    color: $base05;
    text-decoration: underline;
    text-decoration-color: $base02;
  }
}

.post__content {
  @supports (hyphens: auto) {
    hyphens: auto;
    text-align: justify;
  }

  code {
    width: 100%;
    font-family: $monospace-font;
    font-size: 0.85em;
    line-height: 1;
    font-variant-ligatures: discretionary-ligatures;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    > * {
      font-family: inherit;
    }

    > code {
      letter-spacing: 0.05em;
      background-color: unset;
    }
  }

  h4,
  h5,
  h6 {
    text-decoration-color: $base01;
  }

  p {
    margin: 0.25em 0;
  }

  p + p {
    margin-top: 1em;
  }

  img {
    width: 100%;
    height: auto;
  }

  li {
    text-align: left;
  }

  blockquote {
    @include tile;
    padding: 0.5em 0.75em;
    margin: 1.5em 0;
    line-height: 1.61;
    text-align: justify;
    letter-spacing: -0.025em;
    quotes: "\201C""\201D""\2018""\2019";
    border-left: 0.75em solid $base00;
  }

  blockquote p {
    display: inline;
  }

  ul,
  ol {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

.post .footnote {
  font-family: $monospace-font;
  text-decoration: none;
  letter-spacing: -0.05em;

  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
}

.post .footnotes {
  margin: 1.5em 0;
  font-size: 0.9em;
  border-top: 2px solid $base01;

  ol {
    margin: 0.5em 0 0;
    list-style-type: none;
    counter-reset: section;
  }

  ol > li::before {
    display: inline-block;
    font-family: $monospace-font;
    color: $base04;
    letter-spacing: -0.05em;
    content: "[" counters(section, ".") "]";
    counter-increment: section;
  }

  ol > li:target {
    border: 1px solid $base0c;
  }

  ol > li > p {
    display: inline-block;
  }
  ol > li a {
    color: inherit;
  }

  ol > li:target .reversefootnote {
    padding: 0;
    margin: 0;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
  }
}

.post__message {
  margin: 3em 0;
}

@media (max-width: $breakpoint-medium) {
  .post__content img {
    width: calc(100% + (var(--section-padding) * 2));
    max-width: unset;
    // stylelint-disable-next-line function-calc-no-invalid
    margin: 0 calc(var(--section-padding) * -1);
  }
}
