.project__outgoings,
.project__html2rss {
  padding: 1rem 0.75rem;
  margin: 1rem 0 3rem;
  background-color: rgba(lighten($base06, 10), 0.1);
  box-shadow: 0 1px 3px rgba($base00, 0.4);

  @media (prefers-color-scheme: dark) {
    background-color: rgba($base00, 0.5);
  }

  > h2 {
    margin: 0 0 0.5rem;
  }
}

.project__outgoings > h2 {
  font-weight: normal;
  color: hsl(49, 86%, 50%);
}

.project__html2rss > h2 {
  span {
    color: #ff9300;
  }

  span:first-child,
  span:last-child {
    color: #60b0f4;
  }
}
