ul.section-nav {
  margin-left: 0;
}

.section-nav {
  &,
  ul {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    list-style-type: none;
    counter-reset: section;
  }

  li::before {
    color: var(--front-400);
    content: counters(section, ".") ". ";
    counter-increment: section;
  }

  a {
    font-weight: 400;
    color: var(--front-200);
    text-decoration: none;
  }

  a:focus,
  a:hover {
    text-decoration: underline;
  }
}
