%tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1em;
  margin: 2em auto;
  font-size: 1.25rem;
  list-style: none;
}

.tags--list {
  margin-left: 0;
}

.tags,
.tags--right,
.tags--left {
  @extend %tags;

  a {
    text-decoration: none;
  }
}

.tags--right,
.tags--left {
  justify-content: flex-end;
  padding: 0;
  margin: 1rem 0;
}

.tags--right {
  justify-content: flex-start;
}

.tag {
  flex: 0;
  align-self: center;
  text-decoration-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;

  &:first-child {
    margin-left: 0;
  }
}

a.tag,
.tag > a {
  border-color: var(--back-300);

  &:focus,
  &:hover {
    color: var(--brand-100);
  }
}
