ul.section-nav {
  padding-left: 0;
  font-size: 1rem;
  line-height: 1.61;
  letter-spacing: 0.025em;
  list-style: inside decimal;

  a {
    font-size: inherit;
    color: inherit;
  }

  > li {
    font-size: 1em;
  }

  > li > li {
    font-size: 0.85em;
  }

  > li > li > li {
    font-size: 0.7225em;
  }

  > li > ul {
    list-style: outside lower-latin;
  }

  > li > ul > li > ul {
    list-style: outside upper-roman;
  }

  > li > ul > li > ul > li > ul {
    list-style: outside lower-roman;
  }
}
