.work-experience {
  display: flex;
  flex-direction: column;

  margin-bottom: 5rem;
  border-radius: 3px;
}

.work-experience__timerange,
.work-experience__company {
  @extend %time;
}

.work-experience__description {
  font-size: 0.875rem;
}
