.work-experience {
  @include tile;

  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
  font-size: 0.9em;
}

.work-experience__timerange,
.work-experience__company {
  font-size: 0.875em;
  color: var(--front-300);
}

.work-experience__textbox {
  width: 100%;
}

.work-experience__description {
  margin: 1em 0;
}

.work-experience__tags {
  margin-top: 1em;
  margin-left: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}

.work-experience__thesis--originaltitle {
  margin-top: 1em;
  font-size: 0.875em;
}
