.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--ui-spacing);
  padding-left: var(--ui-spacing);
}

@media (min-width: 576px) {
  .container {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1450px;
  }
}

nav,
nav ul,
nav ol {
  display: flex;
}

nav {
  justify-content: space-between;
  overflow: visible;
}

nav ul,
nav ol {
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

nav ul:first-of-type,
nav ol:first-of-type {
  margin-left: calc(var(--ui-spacing) * -0.5);
}

nav ul:last-of-type,
nav ol:last-of-type {
  margin-right: calc(var(--ui-spacing) * -0.5);
}

nav li {
  display: inline-block;
  margin: 0;
  padding: var(--ui-spacing) 0.5rem;
}

nav li :where(a, [role="link"]) {
  display: inline-block;
  margin: -0.5rem;
  padding: 0.5rem;
  border-radius: var(--ui-border-radius);
}

nav li :where(a, [role="link"]):not(:hover) {
  text-decoration: none;
}
