@media print {
  article {
    break-inside: avoid;
  }

  details {
    open: true;
  }

  a[href^="http"]::after {
    content: " (" attr(href) ")";
  }

  .no-print,
  header#top,
  footer,
  [aria-label="Table of Contents"] {
    display: none !important;
  }

  @page {
    margin: 0.5in;
  }

  body {
    margin: 0;
    padding: 0;
    background: none;
    color: var(--ui-contrast-inverse);
  }

  main {
    break-inside: avoid;
  }

  .accent,
  article :is(h2, h3, h4, h5, h6) {
    border: none;
    padding-inline-start: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid-page;
  }

  body::before,
  body::after {
    display: none !important;
  }
}
