@import "vendor/minireset";

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-display: fallback;
  font-weight: 300;
  src: local("Jura"), local("Jura-Light"), url("/assets/css/fonts/Jura/Jura-Light.woff2") format("woff2"),
    url("/assets/css/fonts/Jura/Jura-Light.ttf") format("truetype");
}

@import "_base";
@import "elements";
@import "index";

:root {
  --rem: #{$rem};
  --nav-height: #{$rem * 3};
  --container-width: #{$breakpoint-medium};
  --section-padding: 0.5em;

  --font-alt: Jura, "Bangla Sangam MN", sans-serif;
  --font: system-ui, Roboto, "Helvetica Neue", sans-serif;
  --font-mono: SFMono-Regular, Menlo, "Ubuntu Mono", Consolas, "Monaco", "Lucida Console", monospace;

  --back-900: hsl(212, 3%, 3%);
  --back-700: hsl(212, 3%, 6%);
  --back-600: hsl(212, 3%, 9%);
  --back-500: hsl(212, 3%, 15%);
  --back-400: hsl(212, 3%, 21%);
  --back-300: hsl(212, 3%, 30%);

  --front-400: hsl(72, 6%, 70%);
  --front-300: hsl(72, 6%, 79%);
  --front-200: hsl(72, 6%, 88%);
  --front-100: hsl(72, 6%, 94%);

  --brand-100: hsl(32, 83%, 48%);
  --contrast-100: hsl(212, 93%, 43%);
  // the higher, the more in the back
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}

// prepare header and nav, since its real styles are loaded async

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: var(--nav-height);
  padding: 0 0.25em;
  font-weight: 500;
  background-color: var(--back-900);
}

.header__container {
  display: flex;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.header__menu {
  display: flex;
  margin-left: auto;
}

.nav__checkbox,
.nav__menu,
.nav__icon {
  display: none;
}

.page {
  max-width: var(--container-width);
  padding: 0 var(--section-padding);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
