@import "vendor/minireset";

@import "_base";
@import "blog";
@import "post-preview";
@import "elements";
@import "index";

:root {
  --rem: 18px;
  --nav-height: calc(var(--rem) * 3);
  --container-width: #{$breakpoint-medium};
  --section-padding: 0.5em;

  --font-alt: "Helvetica Neue", Roboto, Arial, sans-serif;
  --font: system-ui, Roboto, "Helvetica Neue", sans-serif;
  --font-mono: SFMono-Regular, Menlo, "Ubuntu Mono", Consolas, "Monaco", "Lucida Console", monospace;

  --back-900: hsl(212, 3%, 3%);
  --back-700: hsl(212, 3%, 6%);
  --back-600: hsl(212, 3%, 9%);
  --back-500: hsl(212, 3%, 15%);
  --back-400: hsl(212, 3%, 21%);
  --back-300: hsl(212, 3%, 30%);

  --front-400: hsl(72, 6%, 70%);
  --front-300: hsl(72, 6%, 79%);
  --front-200: hsl(72, 6%, 85%);
  --front-100: hsl(72, 6%, 96%);

  --brand-100: hsl(32, 83%, 48%);
  --contrast-100: hsl(212, 93%, 43%);
  // the higher, the more in the back
}

@media (min-width: 658px) {
  :root {
    --rem: 19px;
  }
}

@media (min-width: 980px) {
  :root {
    --rem: 20px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}

// prepare header and nav, since its real styles are loaded async

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: var(--nav-height);
  padding: 0 0.25em;
  font-weight: 500;
  background-color: var(--back-900);
}

.header__container {
  display: flex;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.header__site-title {
  padding: 0.5rem 0.125rem;
  font-family: var(--font-alt);
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--front-100);
  text-decoration-color: var(--back-300);
}

.header__menu {
  display: flex;
  margin-left: auto;
}

.nav__checkbox,
.nav__menu,
.nav__icon {
  display: none;
}

.page {
  max-width: var(--container-width);
  padding: 0 var(--section-padding);
  margin: 0 auto;
}

.tag {
  display: inline-block;
  padding: 0.2em 0.3em;
  margin: 0.15em 0.15em;
  font-family: var(--font-mono);
  font-size: 0.875rem;
  line-height: 1.14;
  color: var(--front-400);
  white-space: nowrap;
  background-color: var(--back-700);
  border: 1px solid var(--back-400);
  border-radius: 0.3em;
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
