@import "vendor/minireset";

@import "_base";
@import "blog";
@import "content";
@import "post-preview";
@import "elements";
@import "movie-rating";
@import "index";

:root {
  --rem: 18px;
  --nav-height: 3rem;
  --container-width: #{$breakpoint-medium};
  --section-padding: 0.5rem;

  --font-alt: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  --font: Arial, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
  --font-mono: SFMono-Regular, Menlo, "Ubuntu Mono", Consolas, "Monaco", "Lucida Console", monospace;

  --back-900: hsl(212, 3%, 0%);
  --back-800: hsl(212, 3%, 3%);
  --back-700: hsl(212, 3%, 6%);
  --back-600: hsl(212, 3%, 9%);
  --back-500: hsl(212, 3%, 15%);
  --back-400: hsl(212, 3%, 21%);
  --back-300: hsl(212, 3%, 30%);

  --front-500: hsl(72, 6%, 59%);
  --front-400: hsl(72, 6%, 64%);
  --front-300: hsl(72, 6%, 74%);
  --front-200: hsl(72, 6%, 84%);
  --front-100: hsl(72, 6%, 94%);

  --brand-100: hsl(32, 83%, 48%);
  --contrast-100: hsl(212, 93%, 43%);

  --yellow-400: hsl(47, 92%, 28%);
  --yellow-300: hsl(47, 92%, 33%);
  --yellow-200: hsl(47, 92%, 43%);
  --yellow-100: hsl(47, 92%, 53%);
  // the higher, the more in the back
}

:root:lang(de),
:not(:lang(de)) > :lang(de) {
  quotes: "\201e""\201c""\201a""\2018";
} /* „ “ ‚ ‘ */
:root:lang(en),
:not(:lang(en)) > :lang(en) {
  quotes: "\201c""\201d""\2018""\2019";
} /* “ ” ‘ ’ */

@media (min-width: 658px) {
  :root {
    --rem: 19px;
  }
}

@media (min-width: 980px) {
  :root {
    --rem: 20px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

// prepare header and nav, since its real styles are loaded async

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: var(--nav-height);
  font-weight: 500;
  background-color: var(--back-600);
  box-shadow: 0 0 0.125em var(--back-900);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-width);
  height: 100%;
  margin: 0 auto;
}

.header__site-title {
  padding: 0 var(--section-padding);
  font-family: var(--font-alt);
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--front-100);
  text-decoration-color: var(--back-500);
  text-decoration-thickness: 0.125rem;
}

.header__menu {
  display: flex;
  margin-left: auto;
}

.nav__checkbox,
.nav__menu,
.nav__icon {
  display: none;
}

.nav__hamburger {
  border-color: var(--back-500);
}

.nav__icon {
  background-color: var(--front-100);
}

.page {
  max-width: var(--container-width);
  padding: 0 var(--section-padding);
  margin: 0 auto;
}

.tag {
  @extend %time;

  display: inline-block;
  padding: 0.2em 0.3em;
  margin: 0.15em 0.15em 0.15em 0;
  line-height: 1.14;
  white-space: nowrap;
  background-color: var(--back-700);
  border: 1px solid var(--back-400);
  border-radius: 0.3em;
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
