<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/apple-touch-icon.png?v=deadbeef' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ '/favicon-32x32.png?v=deadbeef' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ '/favicon-16x16.png?v=deadbeef' | relative_url }}"
/>
<link
  rel="mask-icon"
  href="{{ '/safari-pinned-tab.svg?v=deadbeef' | relative_url }}"
  color="#282a2e"
/>
<link
  rel="shortcut icon"
  href="{{ '/favicon.ico?v=deadbeef' | relative_url }}"
/>
<meta name="msapplication-TileColor" content="#1d1f21" />
<meta name="theme-color" content="#1d1f21" />
