<footer class="footer">
  <div class="container">
    <a href="{{ "/contact" | relative_url }}" class="footer__link {% if current[1] == 'contact' %}footer__link--active{% endif %} ">
      <span data-mousetrap>C</span>ontact
    </a>
    <a href="{{ "/privacy" | relative_url }}" class="footer__link {% if current[1] == 'privacy' %}footer__link--active{% endif %} ">
      Privacy
    </a>

    <div class="footer__links">
      <span>Feeds:</span>
      <a
        class="footer__link"
        href="{{ "/feed.xml" | relative_url }}"
      >
        RSS</a
      >
      |
      <a
        class="footer__link"
        href="{{ "/feed.json" | relative_url }}"
      >
        JSON
      </a>
    </div>
  </div>
</footer>
