<footer class="footer">
  <div class="container">
    <div class="footer__links">
      <a href="{{ "/contact" | relative_url }}" class="footer__link {% if current[1] == 'contact' %}footer__link--active{% endif %} ">
          <span data-mousetrap>C</span>ontact
      </a>

      <a href="{{ "/blogroll" | relative_url }}" class="footer__link {% if current[1] == 'blogroll' %}footer__link--active{% endif %}">
        Blogroll
      </a>


      <a href="{{ "/privacy" | relative_url }}" class="footer__link {% if current[1] == 'privacy' %}footer__link--active{% endif %} ">
        Privacy
      </a>

      <a
        class="footer__link"
        rel="noindex nofollow"
        href="{{ "/feed.xml" | relative_url }}"
      >
        RSS</a
      >
    </div>
  </div>
</footer>
