{% assign current = page.url | downcase | split: '/' %}

<header class="header">
  <div class="header__container">
    {% if current[0] == '' %}
    <a class="header__site-title" href="/">Gil Desmarais</a>
    {% endif %}

    <form class="header__menu">
      <label class="nav__hamburger" for="_nav-checkbox">
        <span class="nav__icon"></span>
        <button type="button" class="visually-hidden" data-nav-toggle>Open Navigation Menu</button>
      </label>
    </form>

    <input class="nav__checkbox" type="checkbox" id="_nav-checkbox">
    <nav class="nav__menu">
      <ul class="nav__items">
        <li class="nav__item--first">
          <span class="nav__site-title--menu">Gil Desmarais</span>
          <label for="_nav-checkbox">Close Menu</label>
        </li>
        <li>
          <a href="{{ "/" | relative_url }}" class="nav__item {% if current[1] == null %}nav__item--active{% endif %}">
            <span data-mousetrap>H</span>ome</span>
          </a>
        </li>

        <li>
          <a href="{{ "/resume" | relative_url }}" class="nav__item {% if current[1] == 'resume' %}nav__item--active{% endif %} ">
            <span data-mousetrap>R</span>ésumé
          </a>
        </li>

        <li>
          <a href="{{ "/projects" | relative_url }}" class="nav__item {% if current[1] == 'projects' %}nav__item--active{% endif %} ">
            <span data-mousetrap>P</span>rojects
          </a>
        </li>

        <li>
          <a href="{{ "/blog" | relative_url }}" class="nav__item {% if current[1] == 'blog' %}nav__item--active{% endif %} {% if current[1] == 'posts' %}nav__item--active{% endif %}">
            <span data-mousetrap>B</span>log
          </a>
        </li>

        <li>
          <a href="{{ "/blogroll" | relative_url }}" class="nav__item {% if current[1] == 'blogroll' %}nav__item--active{% endif %}">
            Blogroll
          </a>
        </li>

        <li>
          <a href="{{ "/fleamarket" | relative_url }}" class="nav__item {% if current[1] == 'fleamarket' %}nav__item--active{% endif %}">
            Flea Market
          </a>
        </li>

        <li class="nav__item--last">
          <a href="{{ "/help" | relative_url }}" class="nav__item {% if current[1] == 'help' %}nav__item--active{% endif %} ">Help</a>

          |

          <a href="{{ "/privacy" | relative_url }}" class="nav__item {% if current[1] == 'privacy' %}nav__item--active{% endif %} ">Privacy</a>
          |

          <a href="{{ "/contact" | relative_url }}" class="nav__item {% if current[1] == 'contact' %}nav__item--active{% endif %} "><span data-mousetrap>C</span>ontact</a>

          <br>
          <button type="button" class="nav__close-a11y-button" data-nav-toggle>Close Menu</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
