<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="robots" content="{% if page.noindex %}noindex, follow{% else %}index, follow{% endif %}" />

  {% asset "main.css" %}

  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="icon" type="image/png" sizes="16x16" href="{% asset "favicon-16x16.png" @path %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% asset "favicon-32x32.png" @path %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% asset "favicon-96x96.png" @path %}">
  <link rel="prefetch" href="/about">
  <link rel="prefetch" href="/about/experiences/">
  <link rel="prefetch" href="/contact/">
</head>
