---
---
{{ set data = search.data('projects') }}
<section>
  <h2>Highlighted Projects</h2>

  <dl class="as-table">
    {{ for project_id of data.highlighted_ids }}
      {{ set project = data[project_id] }}
      <dt><a href="{{project.url}}">{{ project.name }}</a></dt>
      <dd>{{ project.tagline }}</dd>
    {{ /for }}
  </dl>

  <p>
    Explore <a href="/projects">more projects ›</a>
  </p>
</section>
