<!DOCTYPE html>
<html lang="{{ typeof(lang) == 'string' ? lang : site?.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="referrer" content="no-referrer" />
    <meta
      name="robots"
      content="{{- typeof(noindex) != 'undefined' ? 'noindex, noarchive, follow' : 'index, follow' }}"
    />

    <title>
      {{- ( typeof(title) != 'undefined' ? (title + " – ") : '') + site.author.name }}
    </title>

    <link href="/feed.rss" rel="alternate" type="application/rss+xml" title="RSS Feed for {{ location }}"  />
    <link href="/feed.json" rel="alternate" type="application/feed+json" title="JSON Feed for {{ location }}"  />

    <link rel="stylesheet" href="/assets/minireset.css" />
    <link rel="stylesheet" href="/assets/base.css" />
    <link rel="stylesheet" href="/assets/nav.css" />
    {{ if typeof(css) != 'undefined' }}
      {{ for item of css }}
        <link rel="stylesheet" href="{{ item }}" />
      {{ /for }}
    {{ /if }}
  </head>

  <body>
    {{ content }}

    <noscript>
      <img src="https://gil.goatcounter.com/count?p={{ page.url }}" alt="" role="none" loading="eager">
    </noscript>
    <script data-goatcounter="https://gil.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
