{% unless rating %}
  {% for round_hash in site.data.movie_ratings %}
    {% assign round = round_hash[0] %}
    {% assign movie_rating = site.data.movie_ratings[round] | where: 'const', imdb['Const'] | first %}
    {% if movie_rating %}
      {% assign rating = movie_rating %}
    {% endif %}
  {% endfor %}
{% endunless %}

<article
  class="movie-rating"
  itemprop="review"
  itemscope
  itemtype="https://schema.org/Review"
  id="{{ imdb['Title'] | slugify }}"
>
  <header>
    <span class="movie-rating__title" itemprop="itemReviewed" itemscope itemtype="https://schema.org/Movie">
      <span>
        {% if rating['recommendation'] %}
        <a class="movie-rating__recommendation"
          href="{{ '/ratings/recommendations/' | relative_url }}#{{ imdb['Title'] | slugify }}">
          <img src="/assets/images/stars/full.svg" alt="Recommended movie">
        </a>
        {% endif %}
        <a itemprop="name" href="#{{ imdb['Title'] | slugify }}">{{ imdb['Title'] }}</a>
        </span>
    </span>

    <span class="movie-rating__year">{{ imdb['Year'] }}</span>
    <span class="movie-rating__rating">{{ imdb['Your Rating'] | star_rating }}</span>
  </header>

  {% if rating %}
  <meta
    itemprop="author"
    content="{% if post.author %}{{post.author}}{% else %}{{ site.author }}{% endif %}"
  />
  <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
  <meta itemprop="name" content="{{ rating['title'] }}" />
  <main class="content" itemprop="reviewBody">{{ rating['note'] | markdownify }}</main>
  {% endif %}

  <footer>
    <span>
      <span class="movie-rating__director">{{ imdb['Directors'] }}</span>
      <br />
      <ul class="tags--list movie-rating__tags">
        <li class="tag">
          <a href="{{ imdb['URL'] }}" class="movie-rating__imdb" rel="nofollow">Open in IMDb</a>
        </li>
        {% assign genres = imdb['Genres'] | split: "," %}
        {% if imdb['Title Type'] != 'movie' %}
        <li class="tag">{{imdb['Title Type'] | humanize_title_type }}</li>
        {% endif %} {% for genre in genres %}
        <li class="tag">{{genre}}</li>
        {% endfor %}
      </ul>
    </span>
  </footer>
</article>

{% assign rating = false %}
