<nav class="nav">
  <img src="/assets/speaker.svg">
  <ol>
    <li><a href="/">Gil</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/">Contact</a></li>
    <li><a href="/">Resume</a></li>
  </ol>
</nav>
