<nav class="nav">
  <a href="/">
    <img src="/favicon.svg" role="presentation" alt="logo" title="Go to startpage">
  </a>
  <ol>
    <li><a href="/">Gil</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/resume/">Résumé</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/movie_ratings/">Movie Ratings</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ol>
</nav>
