<nav class="nav">
  <a href="/">
    <img src="/favicon.svg">
  </a>
  <ol>
    <li><a href="/">Gil</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/">Contact</a></li>
    <li><a href="/">Resume</a></li>
  </ol>
</nav>
