---
layout: page.vto
---

<article class="post">
  <h1>{{ title }}</h1>
  <time datetime="{{ date |> date('ISO_DATE') }}" title="{{ date |> date('ISO_DATE') }}" class="dt-published">
    {{- date |> date('HUMAN_DATE') }}
  </time>

  {{ content }}

  {{ if typeof(image) !== 'undefined'}}
  <figure class="post__image">
    <img src="{{ image }}" alt="{{ title }}" />
  </figure>
  {{ /if }}

  <aside class="message post__message">
    <b>Thank you for reading my post!</b>
    If you don’t want to miss any future posts, subscribe to the
    <a role="complementary" aria-label="RSS feed of this blog" href="{{ '/feed.rss'  }}">
      RSS feed</a
    >
    to stay in touch.
  </aside>
</article>

<aside class="author">
  <div class="author__wrapper">
    <div class="author__person">Hi, I'm Gil Desmarais!</div>

    <div class="author__description">
      <p>
        My broadly diversified knowledge supports companies in the many phases of software development. In the
        last 10 years&nbsp;I've&nbsp;worked
        <a href="/resume">for young and established startups and agencies</a>.
      </p>
      <p>
        Do you need help developing your MVP or driving your current product forward? Send me an
        <a href="mailto:spam@example.com" data-mail="{{ site.contact_email_encoded }}">email</a>!
      </p>
    </div>
  </div>
</aside>
