---
---
{{ if posts_to_show === 'undefined' }}{{ set posts_to_show = 5 }}{{ /if }}
{{ if !posts_headline }}{{ set posts_headline = "Recent Posts" }}{{ /if }}

{{ set posts = search.pages("type=posts", "date=desc", posts_to_show) }}

<section>
  <h2>{{ posts_headline }}</h2>
  <ol class="recent_posts">
    {{ for post of posts }}
      <li>
        <a href="{{post.url}}">
          {{ post.title }}
        </a>
        <time datetime="{{ post.date }}" title="{{ page.date }}">
          {{ post.date |> date('ISO_DATE') }}
          </time>
      </li>
    {{ /for }}
  </ol>
</section>
