@import 'gil/_base';
@import 'gil/contact';
@import 'gil/header';
@import 'gil/navigation';
@import 'gil/post';
@import 'gil/syntax-highlighting';
@import 'gil/tags';
@import 'gil/work-experience';

@import 'gil/print';

.container {
  margin: 0 auto;
  max-width: 700px;
}

.section {
  padding: 0 0.5rem;
  border-top: 1px solid $base06;
}

#disqus_thread {
  border-top: 1px solid $base06;
}

.footer__social-links {
  float: right;
}

.footer__social-link {
  display: inline-block;
  padding: 1rem;
  font-family: $alternative-font;
  color: $base03;
  text-decoration: none;

  &:focus,
  &:hover {
    background: linear-gradient(180deg, rgba($base06, 0.75), rgba($base06, 0));
  }
}

.index__post {
  line-height: 1.5;
  color: $base02;
  margin-top: 2rem;
  padding-right: 1rem;
  font-size: 0.9rem;
}

.index__post--hidden {
  display: none;
}

.index__post-link {
  font-weight: 100;
  display: inline-block;
  margin-left: 1rem;
}
