---
title: My movie recommendation
layout: page
description: I like to watch and rate movies. These are my recommendations.
noindex: true
sitemap: false
tags:
  - movie
---

<h1>{{ page.title }}</h1>

{% assign imdbs = "" | split: '' %}
{% assign movie_ratings = site.data.movie_ratings | flat_map_hash %}
{% for ratings in movie_ratings %}
  {% assign recommendations = ratings | where: 'recommendation', true %}

  {% for recommendation in recommendations %}
    {% assign imdb = site.data.ratings | where: "Const", recommendation['const'] %}
    {% assign imdbs = imdbs | concat: imdb %}
  {% endfor %}

{% endfor %}

{% assign imdbs = imdbs | sort_natural: 'Title' %}
{% for imdb in imdbs %}
  {% include movie-rating.html %}
{% endfor %}
