@font-face {
  font-family: "Jura";
  font-style: normal;
  font-display: fallback;
  font-weight: 300;
  src: local("Jura"), local("Jura-Light"),
    font-url("Jura/Jura-Light.woff2") format("woff2"),
    font-url("Jura/Jura-Light.ttf") format("truetype");
}

@import "../../node_modules/normalize-scss/sass/normalize/import-now";

@import "gil/_base";
@import "gil/contact";
@import "gil/header";
@import "gil/index";
@import "gil/navigation";
@import "gil/post";
@import "gil/project";
@import "gil/syntax-highlighting";
@import "gil/tags";
@import "gil/work-experience";

@import "gil/print";

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 70ch;
  font-size: 0.95rem;
}

.section {
  padding: 0 0.5rem;
  border-top: 1px solid $base06;
}

.section p {
  line-height: 1.5;
}

.footer__social-links {
  float: right;
}

.footer__social-link {
  display: inline-block;
  padding: 1rem;
  font-family: $alternative-font;
  color: $base03;
  text-decoration: none;

  &:focus,
  &:hover {
    background: linear-gradient(
      to bottom,
      rgba($base06, 0.75),
      rgba($base06, 0)
    );
  }
}

@media (prefers-color-scheme: dark) {
  .footer__social-link {
    filter: invert(100%);
  }

  .section {
    border-top-color: $base00;
  }
}
