---
---

@import "_base";
@import "nav";
@import "author";
@import "blogroll";
@import "contact";
@import "fleamarket";
@import "footer";
@import "glide";
@import "message";
@import "post";
@import "project";
@import "section-nav";
@import "ratings";
@import "syntax-highlighting";
@import "tags";
@import "work-experience";

.archive__headline {
  margin: 1em 0;
}

.flex {
  display: flex;

  > .w50 {
    flex: 1 1 50%;
  }
}
