---
---

@import "vendor/minireset";
@import "_base";
@import "elements";
@import "blog";
@import "blogroll";
@import "contact";
@import "fleamarket";
@import "footer";
@import "index";
@import "nav";
@import "post";
@import "post-preview";
@import "project";
@import "section-nav";
@import "syntax-highlighting";
@import "tags";
@import "work-experience";

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-display: fallback;
  font-weight: 300;
  src: local("Jura"), local("Jura-Light"),
    url("fonts/Jura/Jura-Light.woff2") format("woff2"),
    url("fonts/Jura/Jura-Light.ttf") format("truetype");
}

:root {
  --rem: 16px;
  --nav-height: 4em;
  --container-width: #{$breakpoint-medium};
  --section-padding: 0.5em;
}

.page {
  max-width: var(--container-width);
  padding: 0 var(--section-padding);
  margin: 0 auto;
}

@media (hover: hover) {
  [data-mousetrap] {
    text-decoration: underline;
  }
}

.flex {
  display: flex;

  > .w50 {
    flex: 1 1 50%;
  }
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
