.movie_ratings_nav > ul {
  --height: 2em;

  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  list-style: none;
}

.movie_ratings_nav > ul > li {
  display: flex;
  flex: 1 1 calc(100% / 5);
  align-items: center;
  height: var(--height);
  margin: 1px;
  background-color: var(--back-500);
  transition: background-color 0.2s linear;
}

.movie_ratings_nav > ul > li.current {
  background-color: var(--back-400);
}

.movie_ratings_nav > ul > li:hover,
.movie_ratings_nav > ul > li:focus {
  background-color: var(--back-700);
}

.movie_ratings_nav li > a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
