.nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: var(--width-container);
  padding: 0.75rem 0;
  background-color: var(--back-700);
}

.nav > a,
.nav > a > img {
  height: 1em;
}

.nav a {
  color: var(--front-300);
}

.nav > ol {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.5rem;
  font-weight: 600;
  font-variant: all-small-caps;
  list-style: none;
}

/* https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/ */
.nav ol > li::before {
  position: absolute;
  content: "\200B";
}

.nav ol > li::after {
  color: var(--brand-100_25);
  content: " | ";
}

.nav > ol > li {
  margin-right: 0.5rem;
}

.nav > ol > li:last-child {
  margin-right: 0;
}

.nav > ol > li:last-child::after {
  content: "";
}
