.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 0;
  background-color: var(--back-600);
  border: 1px solid var(--back-500);
}

.nav > a,
.nav > a > img {
  height: 1.61rem;
  max-height: 1.61em;
}

.nav > ol {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.5rem;
  list-style: none;
}

/* https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/ */
.nav ol > li::before {
  position: absolute;
  content: "\200B";
}

.nav ol > li::after {
  content: " | ";
  color: var(--brand-100_25);
}

.nav > ol > li {
  margin-right: 0.5rem;
}

.nav > ol > li:last-child {
  margin-right: 0;
}

.nav > ol > li:last-child::after {
  content: "";
}
