<aside class="author">
  <div class="author__wrapper">
    <div class="author__person">Hi, I'm Gil Desmarais!</div>

    <div class="author__description">
      <p>
        My broadly diversified knowledge supports companies in the many phases of software development. In the
        last 10&thinsp;years&nbsp;I've&nbsp;worked
        <a href="/resume">for young and established startups and agencies</a>.
      </p>
      <p>
        Do you need help developing your MVP or driving your current app forward? Send me an
        <a
          href="mailto:spam@example.com"
          data-mail="&#99;&#111;&#110;&#116;&#97;&#99;&#116;@&#100;&#101;&#115;&#109;&#97;&#114;&#97;&#105;&#115;.&#100;&#101;"
        >
          email</a
        >!
      </p>
    </div>
  </div>
</aside>
