$small-font-size: 14px; // let's use the px unit here, for legal reasons

.contact__method {
  font-size: 0.9rem;
  display: inline-block;
  padding-right: 1rem;
}

.contact__email {
  margin-right: 1rem;
}

.contact__phone {
  font-size: $small-font-size;
  display: inline-block;
  margin-bottom:1rem;
  letter-spacing: -4px;
}

.contact__address {
  font-style: normal;
}

@media (max-width: $breakpoint-medium) {
  .contact__address {
    display: inline-block;
    line-height: 1.5;
    padding-left: 0.5rem;
  }
}

.contact__mailing-address {
  color: $base02;
  font-size: $small-font-size;
  margin: 2rem 0 0;
}
