.header__headline {
  display: block;
  letter-spacing: -0.1rem;
  line-height: 1;
  margin-bottom: 0;
  margin-left: -0.1rem; // the capital h looks offset
  width: 100%;
}

.header__subheadline {
  font-size: 1.5rem;
  font-family: $base-font;
  font-weight: 100;
}

.header__portrait {
  width: auto;
  height: 15rem;
  vertical-align: bottom;
}

.header__column--right {
  align-self: flex-end;
  padding-top: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
}
