.header__headline {
  display: block;
  letter-spacing: -0.1rem;
  line-height: 1;
  margin-bottom: 0;
  margin-left: -0.1rem; // the capital h looks offset
  width: 100%;
}

.header__subheadline {
  font-size: 1.5rem;
  font-family: $base-font;
  font-weight: 100;
}

.header__linked-portrait {
  font-size: 0;
}

.header__portrait {
  width: auto;
  height: 15rem;
  vertical-align: bottom;
}

@media (min-width: $breakpoint-medium) {
  .header__column {
    padding-right: 12rem;
  }
}

.header__column--right {
  padding-top: 3rem;
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  .header__portrait {
    filter: brightness(.9);
    transition: filter .4s ease-in;

    &:hover {
      filter: brightness(1);
    }
  }
}
