.header__headline {
  display: block;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-bottom: 0;
  margin-left: -0.1rem; // the capital h looks offset
  width: 100%;
}

.header__subheadline {
  font-size: 1.5rem;
  font-family: $base-font;
  font-weight: 100;
}

.header__linked-portrait {
  font-size: 0;
}

.header__portrait {
  margin: 0;
}

.header__linked-portrait svg {
  height: 7rem;
  width: 7rem;
  margin-bottom: -0.25rem;
}

@media (min-width: $breakpoint-medium) {
  .header__column {
    padding-right: 12rem;
  }
}

.header__column--right {
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  .header__portrait {
    filter: brightness(0.9);
    transition: filter 0.4s ease-in;

    &:hover {
      filter: brightness(1);
    }
  }
}
