.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.4rem;
  padding: 0 2rem;
  margin: 1em 0;

  list-style: none;
}

@mixin tag {
  display: inline-block;
  padding: 0 0.5rem;
  line-height: 1.1;
  font-family: $alternative-font;
}

$tag-color: darken($base03, 25);
$tag-settings: (
  1: 65%,
  2: 70%,
  3: 80%,
  4: 90%,
  5: 100%
);

@each $level, $visibility in $tag-settings {
  .tags__tag--#{$level} {
    @include tag;
    font-size: $visibility;
    color: rgba($tag-color, ($visibility / 100%));
  }
}

.tags__tag--0 {
  display: none;
}

@media (prefers-color-scheme: dark) {
  $tag-color: $base04;

  @each $level, $visibility in $tag-settings {
    .tags__tag--#{$level} {
      @include tag;
      font-size: $visibility;
      color: rgba($tag-color, ($visibility / 100%));
    }
  }
}

.tags__tag-linebreak {
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
}
