@import url("css/minireset.css");
@import url("css/nav.css");
@import url("css/movie_ratings_nav.css");
@import url("css/pronunciation.css");
@import url("css/tags.css");

:root {
  --rem: 18px;
  --font: "Arial", sans-serif;
  --font-alt: gill sans, gill sans mt, calibri, sans-serif;
  --font-mono: sfmono-regular, menlo, "Ubuntu Mono", consolas, "Monaco",
    "Lucida Console", monospace;
  --line-height: 1.25;
  --back-900: hsl(212deg 3% 0%);
  --back-800: hsl(212deg 3% 3%);
  --back-700: hsl(212deg 3% 6%);
  --back-600: hsl(212deg 3% 9%);
  --back-500: hsl(212deg 3% 15%);
  --back-400: hsl(212deg 3% 21%);
  --back-300: hsl(212deg 3% 30%);
  --front-500: hsl(72deg 6% 63%);
  --front-400: hsl(72deg 6% 67%);
  --front-300: hsl(72deg 6% 77%);
  --front-200: hsl(72deg 6% 87%);
  --front-100: hsl(72deg 6% 97%);
  --brand-100_25: hsl(32deg 100% 50% / 25%);
  --brand-100_75: hsl(32deg 100% 50% / 75%);
  --brand-100: hsl(32deg 100% 50%);
  --contrast-100: hsl(212deg 93% 43%);
  --yellow-400: hsl(47deg 92% 28%);
  --yellow-300: hsl(47deg 92% 33%);
  --yellow-200: hsl(47deg 92% 43%);
  --yellow-100: hsl(47deg 92% 53%);

  /* the higher, the more in the back */
}

:root:lang(de),
:not(:lang(de)) > :lang(de) {
  quotes: "\201e" "\201c" "\201a" "\2018";
}

/* „ “ ‚ ‘ */
:root:lang(en),
:not(:lang(en)) > :lang(en) {
  quotes: "\201c" "\201d" "\2018" "\2019";
}

/* “ ” ‘ ’ */

@media screen and (width >=658px) {
  :root {
    --rem: 19px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/* #region tags */
html {
  font-family: var(--font);
  font-size: var(--rem);
  font-weight: 450;
  font-variant-ligatures: common-ligatures;
  line-height: var(--line-height);
  color: var(--front-200);
  background-color: var(--back-700);
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: var(--nav-height);
  padding-bottom: 66vh;
}

a {
  color: var(--brand-100);
  text-decoration: underline;
}

code,
pre {
  font-family: var(--font-mono);
}

@media (hover: hover) {
  a {
    text-decoration: none;
    text-decoration-thickness: 0.1em;
    text-decoration-color: var(--brand-100);
    transition: filter 0.2s linear;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    filter: saturate(1.5);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25em 0 0.25em;
  font-family: var(--font-alt);
  font-weight: 300;
  color: var(--front-200);
  text-align: left;
}

h1 {
  font-size: 2.125rem;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: var(--brand-100_75);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

dl {
  font-variant: all-petite-caps;
}

kbd {
  display: inline-block;
  padding: 0.1em 0.25em;
  font-size: 0.875em;
  white-space: nowrap;
  background-color: var(--back-500);
  border: 1px solid var(--brand-100_25);
  border-radius: 2px;
}

blockquote {
  margin: 1.5em 0;
  padding: 0.5em 1em;
  background-color: var(--back-600);
  border-left: 0.25em solid var(--brand-100_25);
  color: var(--front-300);
  font-size: 0.875em;
}

blockquote > header {
  font-weight: 600;
}

/* #endregion */

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.page {
  max-width: 40rem;
  padding: 0 0.5rem;
  margin: 0 auto;
}

/* #region projects */
.projects dd,
.projects dt {
  display: inline-block;
}

/* #endregion */

.address {
  display: block;
  font-style: normal;
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

/* #region recent_posts */
.recent_posts {
  list-style: none;
}

.recent_posts > li {
  padding: 0.25em 0;
  font-size: 0.875em;
  display: flex;
  justify-content: space-between;
}

.recent_posts > li:nth-child(odd) {
  background-color: var(--back-600);
}

.recent_posts > li > a {
  width: 100%;
  white-space: pre-line;
}

.recent_posts time {
  color: var(--front-300);
  font-family: var(--font-mono);
  white-space: nowrap;
  font-size: 0.875em;
}

/* #endregion */

dl.as-table {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 0 1em;
}

dl.as-table > dt {
  grid-column-start: 1;
  padding-right: 0.25em;
}

dl.as-table > dd {
  grid-column-start: 2;
}
