.movie-rating {
  width: 100%;
  padding: 0.75em 0.5em 0.5em;
  margin-bottom: 2rem;
  border: 1px solid var(--brand-100_25);
}

.page .movie-rating:nth-child(odd) {
  background-color: var(--back-600);
}

.movie-rating > header {
  display: flex;
  align-items: baseline;
}

.movie-rating__title {
  display: flex;
  flex: 1;
  font-family: var(--font-alt);
}

.movie-rating__title > span > a {
  color: inherit;
  text-decoration: none;
}

.movie-rating__recommendation {
  width: 1em;
  margin-right: 0.25em;
}

.movie-rating__stars {
  align-self: flex-start;
  height: 100%;
}

.movie-rating > main {
  color: var(--front-300);
}

.movie-rating__rating dl {
  font-size: 0.875em;
}

.movie-rating__rating dt {
  color: var(--front-500);
}

.movie-rating__my-rating,
a.movie-rating__imdb,
.movie-rating__year {
  font-family: var(--font-mono);
  color: inherit;
  text-decoration: none;
}

.movie-rating__my-rating > span {
  font-size: 1.5em;
}
a.movie-rating__imdb:hover,
a.movie-rating__imdb:focus {
  color: var(--yellow-100);
}

.movie-rating__rating--recommendation {
  max-width: 80ch;
  font-size: 0.875em;
  color: var(--front-100);
}

.movie-rating__rating img {
  width: 1em;
  height: 1em;
  filter: unset;
  border: 0;
  box-shadow: unset;
}

.star-rating {
  display: inline;
  white-space: nowrap;
}
