@import url("css/author.css");

.post ol,
.post ul {
  list-style: inside;
}

.post__meta {
  text-align: right;
}

.post__toc {
  padding: 0.5em;
  margin: 1rem 0;
}

.post__toc > summary {
  display: inline-block;
  width: 100%;
  color: var(--front-200);
}

.post__toc > summary:focus {
  outline: 0;
}

.post .footnote {
  text-decoration: none;
}

.post .footnote::before {
  content: "[";
}

.post .footnote::after {
  content: "]";
}

.post .footnotes {
  padding: 1rem 0;
  margin: 2rem 0;
  font-size: 0.875rem;
  border-top: 2px groove var(--brand-100_25);
}

.post .footnotes ol {
  margin: 0.5rem 0 0;
  list-style-type: none;
  counter-reset: section;
}

.post .footnotes ol > li::before {
  /* @extend %time; */
  display: inline-block;
  font-family: var(--font-mono);
  font-variant: unicase;
  letter-spacing: -0.05em;
  content: "[" counters(section, ".") "]";
  counter-increment: section;
}

.post .footnotes ol > li {
  margin-bottom: 0.5rem;
}

.post .footnotes ol > li:target {
  border: 1px solid var(--contrast-100);
}

.post .footnotes ol > li > p {
  display: inline;
}

.post .footnotes ol > li a {
  color: inherit;
}

.post .footnotes ol > li:target .reversefootnote {
  padding: 0;
  margin: 0;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
}

.post__message {
  padding:2em 1em;
  margin: 5rem 0 ;
  content-visibility: auto;
  font-size: .875em;
  border: 0.25em double var(--brand-100_25);
  border-right: 0;
  border-left: 0;
}

.post__message b {
  display: block;
}
