@import url("css/author.css");
@import url("css/highlight.css");

.post ol,
.post ul {
  list-style: inside;
}

.post code {
  white-space: pre;
  user-select: all;
  padding: 0 0.15em;
  color: var(--front-400);
  border: 1px solid var(--brand-100_25);
}

.post pre > code {
  display: block;
  padding: 0.5em 1em;
  line-height: 1.15;
  user-select: text;
  font-size: 0.75em;
}

.post img {
  max-height: 66vh;
}

.post__meta {
  text-align: right;
}

.post__toc {
  padding: 0.5em;
  margin: 1rem 0;
}

.post__toc > summary {
  display: inline-block;
  width: 100%;
  color: var(--front-200);
}

.post__toc > summary:focus {
  outline: 0;
}

.post__image {
  margin: 1rem 0;
  text-align: center;
  height: fit-content;
}

.post__image img {
  max-width: 100%;
  margin: 0;
}

.post .footnote {
  text-decoration: none;
}

.post .footnote::before {
  content: "[";
}

.post .footnote::after {
  content: "]";
}

.post .footnotes {
  padding: 1rem 0;
  margin: 2rem 0;
  font-size: 0.875rem;
  border-top: 2px groove var(--brand-100_25);
}

.post .footnotes ol {
  margin: 0.5rem 0 0;
  list-style-type: none;
  counter-reset: section;
}

.post .footnotes ol > li::before {
  display: inline-block;
  font-family: var(--font-mono);
  font-variant: unicase;
  content: "[" counters(section, ".") "]";
  counter-increment: section;
  color: var(--brand-100);
  margin-right: 0.25em;
}

.post .footnotes ol > li {
  margin-bottom: 0.5em;
}

.post .footnotes ol > li:target {
  border: 1px dotted var(--contrast-100);
  background: var(--back-600);
}

.post .footnotes ol > li > p {
  display: inline;
}

.post .footnotes ol > li a {
  color: inherit;
  text-decoration: underline;
}

.post .footnotes ol > li:target .reversefootnote {
  padding: 0;
  margin: 0;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
}

.post a.data-footnote-backref[data-footnote-backref] {
  color: var(--brand-100);
  text-decoration: none;
  vertical-align: sub;
}

.post__message {
  padding: 2em 1em;
  margin: 5rem 0;
  content-visibility: auto;
  font-size: 0.875em;
  border: 0.25em double var(--brand-100_25);
  border-right: 0;
  border-left: 0;
}

.post__message b {
  display: block;
}
