---
layout: default
---

<section class="section">
  <div class="container">
    <h1>All posts with {{ page.type }} '{{ page.title }}'</h1>

    <ul class="post-preview__list">
      {% for post in page.posts %}
      <li>
        <a class="post-preview__link" href="{{ post.url | relative_url }}" hreflang="{{post.lang | default: site.lang | default: "en"}}" tabindex="1">
          {% if post.lang == 'de' %}
          🇩🇪
          {% endif %}
          {{ post.title | escape }}
        </a>
        <time class="post-preview__meta" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
