---
layout: page
---

<h1>Blog</h1>

{{ content }}

<a
  class="blog__rss"
  rel="noindex nofollow"
  href="{{ "/feed.xml" | relative_url }}"
>
  RSS</a
>

<a href="/blogroll"
   class="blog__blogroll">
  Blogroll
</a>


<ul class="blog__list">
  {% for post in site.posts %}
  <li class="h-entry">
    <a class="blog__link p-name u-url u-uid" href="{{ post.url | relative_url }}" hreflang="{{post.lang | default: site.lang | default: "en"}}" tabindex="1">
      {% if post.lang == 'de' %}
      🇩🇪
      {% endif %}
      {{ post.title | escape }}
    </a>
    <time class="blog__meta dt-published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>

    {% for tag in page.tags %}
      <span class="p-category" hidden>{{ tag }}</span>
    {% endfor %}

    {% if post.description %}
    <span class="p-summary" hidden>{{post.description}}</span>
    {% endif %}

    <a href="{{ site.url }}" class="h-card p-author" hidden>
      {% if post.author %}{{post.author}}{% else %}{{ site.author }}{% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
