---
layout: default
---
<main class="container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post__header">
      <p class="post__meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </p>
      <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div class="post__content" itemprop="articleBody">
      {{ content }}
    </div>

    <div class="post__footer-note" role="complementary">
      If you don’t want to miss any of my rare posts, I suggest
      <a href="{{ '/feed.xml' | relative_url }}">subscribing to the RSS feed</a>
      or
      <a href="https://twitter.com/{{ site.twitter_username }}">to follow me on Twitter</a>.
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
  </article>
</main>
