---
layout: page
---

<article class="post h-entry">
  <header class="post__header">
    <p class="post__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-published">
        {{ page.date | date_to_long_string }}
      </time>

      <a href="{{ site.url }}" class="h-card p-author post__author" hidden>
        {% if post.author %}{{post.author}}{% else %}{{ site.author }}{% endif %}
      </a>
    </p>
    <h1 class="post__title p-name">
      {{ page.title | escape }}
    </h1>
  </header>

  {% if post.description %}
  <span class="p-summary" hidden>{{post.description}}</span>
  {% endif %}

  <main class="post__content e-content">
    {% if page.toc %}
    <div class="post__toc">
      <span>Table of contents</span>
      {% toc %}
    </div>
    {% endif %}

    {{ content }}
  </main>

  <aside class="post__footer-note">
    <b>Thank you for reading my post!</b>
    If you don’t want to miss any future posts, I suggest subscribing to the
    <a
      role="complementary"
      href="{{ '/feed.xml' | relative_url }}"
    > RSS feed</a>
    or following me on
    <a href="https://twitter.com/{{ site.twitter.username}}">Twitter</a> to stay in touch.
  </aside>

  <footer>
    {% include tags.html %}
  </footer>
</article>
