---
layout: default
---

<article class="page post h-entry">
  <header class="post__header">
    <h1 class="post__title p-name">{{ page.title | escape }}</h1>
    <p class="post__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date }}" class="dt-published">
        {{ page.date | date_to_long_string }}
      </time>

      <a href="{{ site.url }}" class="h-card p-author post__author" hidden>
        {% if post.author %}{{post.author}}{% else %}{{ site.author }}{% endif %}
      </a>
    </p>
  </header>

  {% if post.description %}
  <span class="p-summary" hidden>{{post.description}}</span>
  {% endif %}

  <main class="post__content e-content">
    {% if page.toc %}
    <details class="post__toc" open>
      <summary>Table of contents</summary>
      {% toc %}
    </details>
    {% endif %} {{ content }}
  </main>

  <footer>{% include tags.html %}</footer>

  <aside class="message post__message">
    <b>Thank you for reading my post!</b>
    If you don’t want to miss any future posts, subscribe to the
    <a role="complementary" aria-label="RSS feed of this blog" href="{{ '/feed.xml' | relative_url }}">
      RSS feed</a
    >
    to stay in touch.
  </aside>
</article>

{% include author.html %}
