---
layout: default
---

{% assign recipe = page.recipe %}

<main class="page">
  <article class="recipe">
    <h1>{{ title }}</h1>
    <p>{{ description }} </p>

    {% if image %}<img src="{{ image | absolute_url }}" role="presentation">{% endif %}

    <table>
      <tbody>
        <tr>
          <th>recipe_yield</th>
          <td>{{ recipe.recipe_yield }}</td>
        </tr>
        <tr>
          <th>cooking_method</th>
          <td>{{ recipe.cooking_method }}</td>
        </tr>
        <tr>
          <th>prep_time</th>
          <td>{{ recipe.prep_time | recipe_pretty_duration }}</td>
        </tr>
        <tr>
          <th>cook_time</th>
          <td>{{ recipe.cook_time | recipe_pretty_duration }}</td>
        </tr>
      </tbody>
    </table>

    <h2>Ingredients</h2>
    <ul>
      {% for ingredient in recipe.ingredients %}
      <li>
        <label>
          <input type="checkbox">
          {{ ingredient }}
        </label>
      </li>
      {% endfor %}
    </ul>

    <h2>Instructions</h2>
    <ol>
      {% for instruction in recipe.instructions %}
      <li>
        <label>
          <input type="checkbox">
          {{ instruction }}
        </label>
      </li>
      {% endfor %}
    </ol>
  </article>

  <aside role="contentinfo">
    {{ recipe.author }}
    {{ page.date | date_to_long_string }}
  </aside>

  <button onclick="print()">Print</button>
</main>

{% recipe_seo %}
