// base16 tomorrow color scheme by chris kempson,
// https://chriskempson.github.io/base16/#tomorrow

$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #757775;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #fff;
$base08: #c66;
$base09: #de935f;
$base0a: #f0c674;
$base0b: #b5bd68;
$base0c: #8abeb7;
$base0d: #89a8c3;
$base0e: #b294bb;
$base0f: #a3685a;

$alternative-font: Jura, 'Bangla Sangam MN', sans-serif;
$base-font: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;

$breakpoint-medium: 600px;

@keyframes highlight {
  0% {
    background-color: rgba($base0a, 0.5);
  }

  100% {
    background-color: $base07;
  }
}

body {
  color: $base00;
  font-family: $base-font;
  font-size: 1rem;
  font-weight: 300;
}

a {
  color: darken($base0d, 20);
  transition: 0.4s all ease;
  font-weight: 500;

  &:hover {
    background-color: $base06;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $alternative-font;
}
