.post {

}
.post__header {

}
.post__title {

}
.post__meta {

}
.post__content {
  text-align: justify;
  font-size: 1.25rem;
  word-wrap: break-word;
}

.post__list {

}

.post__meta {

}

.post__link {
}
