.post-preview {
  @include tile;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0 0 1.5rem;
}

.post-preview,
.post-preview__img {
  max-height: 20rem;
}

.post-preview > header {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: var(--back-600);
}

.post-preview__shade {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 66%;
  user-select: none;
  background: linear-gradient(to bottom, rgba(var(--back-500), 0.3), transparent);
}

.post-preview > header > img {
  &,
  &:focus,
  &:hover {
    vertical-align: middle;
    box-shadow: unset;
  }
}

.post-preview__img {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  vertical-align: bottom;
  border-width: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 1px;
}

.post-preview__img--missing {
  width: 100%;
}

.post-preview__lang {
  display: none;
}

html[lang="en"] .post-preview__lang {
  position: absolute;
  top: 0.125em;
  right: 0.25em;
  z-index: 2;
  display: block;
  font-size: 1.5rem;
  line-height: 1;
}

.post-preview__body {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  line-height: 1.14;

  > a {
    display: block;
    width: 100%;
    text-decoration: none;
  }

  h1 {
    font-size: inherit;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
  }

  > a:focus,
  > a:hover {
    text-decoration: none;
  }
}

.post-preview__description {
  display: inline-block;
  margin: 0.75em 0 0.25em;
  font-size: 0.875rem;
  color: var(--front-200);
}

.post-preview > footer {
  padding: 0.5em 1em;
  margin-top: auto;
}

.post-preview__tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0.25em 0 0;
  font-size: 0.75rem;
  list-style: none;

  > li {
    margin-right: 0.25em;
  }

  > li > a {
    &:focus,
    &:hover {
      color: var(--brand-100);
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .post-preview {
    flex-direction: row;
  }

  .post-preview,
  .post-preview__img {
    height: calc(var(--container-width) / 4);
  }

  .post-preview > header,
  .post-preview__body {
    width: calc(var(--container-width) / 2);
  }

  .post-preview__img--missing {
    display: inline-block;
    box-shadow: unset;
  }

  .post-preview__tags {
    margin: auto 0 0;
  }
}
