.ratings__nav > ul {
  --height: 2em;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  list-style: none;
}

.ratings__nav > ul > li {
  display: flex;
  flex: 1 1 calc(100% / 5);

  align-items: center;
  height: var(--height);
  margin: 1px;
  background-color: var(--back-500);
  transition: background-color 0.2s linear;

  &:hover,
  &:focus {
    background-color: var(--back-700);
  }

  &.current {
    background-color: var(--back-400);
  }
}

.ratings__nav li > a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
