ul.section-nav {
  margin-left: 0;
  font-size: 0.75rem;
}

.section-nav {
  &,
  ul {
    list-style-type: none;
    counter-reset: section;
  }

  li::before {
    color: var(--front-400);
    content: counters(section, ".") ". ";
    counter-increment: section;
  }

  a {
    font-weight: 400;
    color: var(--front-200);
    text-decoration: none;
  }

  a:focus,
  a:hover {
    text-decoration: underline;
  }
}
